   <!-- INTRO-->
    <!--===============================================================-->
    <div class="bg-intro" id="home">
      <div class="layer-intro">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">Robert Tribbia</h1>
              <h2 class="text-center">JavaScript Developer in Portland, OR</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <rt-resume></rt-resume>
    
    <rt-projects ng-controller="ProjectsIndexController"></rt-projects>
    <rt-websites ng-controller="WebsitesIndexController"></rt-websites>


